@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  backdrop-filter: blur(5px);
}

div {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

h1 {
  font-family: "League Spartan";
}

a {
  text-decoration: none;
  color: #ececec;
}

@media only screen and (min-width: 600px) {
  header {
    padding: 24px 24px 24px 24px;
  }

  div {
    gap: 16px;
  }
}
